- if @tasks.present?
  - @tasks.each do |task|
    = task.title
    = task.content
= link_to '作成', new_task_path, class: 'btn btn-primary'
= link_to "仮のボタンです", "#", class: "btn btn-primary"
button.btn.btn-primary[type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"]
  |  Launch demo modal 
#exampleModal.modal.fade[tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"]
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title
          | Modal title
        button.btn-close[type="button" data-bs-dismiss="modal" aria-label="Close"]
      .modal-body
        = form_with model: @task do |f|
          = f.label :title
          = f.text_field :title
          = f.label :content
          = f.text_field :content
          = f.submit
      .modal-footer
        button.btn.btn-secondary[type="button" data-bs-dismiss="modal"]
          | Close
        button.btn.btn-primary[type="button"]
          | Save changes
